<div id="app">
  <h1>Bienvenido a YagoBarber</h1>
  <h2>Ver productos</h2>
  {{#each products}}
    <div>
      <p>{{this.title}}</p>
      <p>{{this.description}}</p>
      <p>{{this.code}}</p>
      <p>{{this.price}}</p>
      <p>{{this.stock}}</p>
      <p>{{this.thumbnails}}</p>
    </div>
  {{/each}}
</div>